<%= form_for @product do |p| %>

	<% if @products.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
			<ul>
				<% @product.errors.full_messages.each do |m| %>
				<li><%= "m" %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p><strong>
		<%= p.label :name %></strong>: <%= p.text_field :name %>
	</p>
	<p><strong>
	  <%=p.label :description %></strong>: <%= p.text_field :description %>
	</p>
	<p><strong>
		<%= p.label :price_in_cents %></strong>: <%= p.text_field :price_in_cents %>
	</p>
	<p>
		<%= p.submit %>
	</p>
	<% end %>